# swap files and temp files
*.swp
.~

# pdf
*.pdf

# executables, libraries, objects
*.o
*.obj
*.lib
*.so
*.out

# eclipse
.cproject
.project
.settings/

# vscode
.vscode

# Los ficheros de libavl de GNU
avl.c
avl.h
bst.c
bst.h

# Los ficheros de AVL de MIT OpenCourseWare
MITOCW
